{% load wagtailcore_tags %}

<div class="block-dynamic_section">
<section class="section bg-pattern _dark-800">
<div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12 medium-12">
            <h2 class="section__title no-x-gutter">{{ self.header }}</h2>


            <div class="wysiwyg text-white spoiler-container">

                <div class="spoiler-mobile hidden js-spoiler">
                    {{ self.content|safe }}
                </div>
                <p style="text-align: center"><a class="spoiler-btn">Read more</a></p>
            </div>

        </div>
    </div>
</div>
</section>

    </div>


