.svg-ico_bird_icn {
  width: 1.86em;
  height: 1em;
  fill: initial;
}
.svg-ico_calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_christmas-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_facebook-f {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_instagram-filled {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_instagram-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_maps-and-flags {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_marker {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_menu-button {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_phone-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_phone-filled {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_pinterest {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_placeholder {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_price-tag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_romance {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_speech-bubble-filled {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_speech-bubble {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_tattoo-filled {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_tattoo-machine {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_twitter-filled {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_zoom-in {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-ico_acne removal {
  width: 0.27em;
  height: 1em;
  fill: initial;
}
.svg-ico_airbrush_icn1 {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.svg-ico_bird_icn1 {
  width: 1.86em;
  height: 1em;
  fill: initial;
}
.svg-ico_body art_icn {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.svg-ico_ear_icn1 {
  width: 0.64em;
  height: 1em;
  fill: initial;
}
.svg-ico_face_icn {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.svg-ico_gun_icn_1 {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.svg-ico_laser_icn_1 {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.svg-ico_reviv_icn {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
