<section class="section gallery-wrapper bg-pattern _dark-800">
    <h2 class="section__title">{% if include.gallery-title %}{{ include.gallery-title }}{% endif %}</h2>

    <div class="slide-btn">
        <div class="gallery js-inner-gallery">
            <div class="gallery__slide gallery__play grayscale-wr">
                <a href="https://youtu.be/f9OnvqsYKEQ" class="glightbox">
                    {% include mixins/svg-ico.html ico="icon-play" class="gallery__ico" %}
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram1.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/instagram/instagram2.jpg" class="glightbox">
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram2.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/instagram/instagram3.jpg" class="glightbox">
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram3.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/instagram/instagram4.jpg" class="glightbox">
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram4.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/instagram/instagram2.jpg" class="glightbox">
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram2.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/instagram/instagram3.jpg" class="glightbox">
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram3.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/instagram/instagram4.jpg" class="glightbox">
                    <img src="{{ site.app.url }}img/placeholder1.png" data-src="{{ site.app.url }}img/instagram/instagram4.jpg" width="360" height="360" alt="" class="grayscale lozad">
                </a>
            </div>
        </div>
    </div>
</section>
