beautifulsoup4
certifi
chardet
Django
django-cogwheels
django-comments-xtd
django-contrib-comments
django-modelcluster
django-taggit
django-treebeard
djangorestframework
docutils
draftjs-exporter
html5lib
idna
lxml
Pillow
psycopg2-binary
pytz
requests
six
Unidecode
urllib3
wagtail
wagtail-blog
wagtailmenus
webencodings
Willow
django-recaptcha
