.main-head {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  padding-bottom: rem-calc(60);
  overflow: hidden;
  background: map-get($custom-palette, gray_700);
  text-align: center;

  @include breakpoint(640 up) {
    min-height: 90vh;
    //padding-bottom: 0;
  }
}





