{% load menu_tags %}
<ul class="oc-menu">
    {% for item in menu_items %}
        {% if not item.has_children_in_menu %}
            <li class="oc-menu__item "><a href="{{ item.href }}" class="oc-menu__link">{{ item.text }}</a></li>
        {% else %}
            <li class="oc-menu__item dropdown">
                    <a href="" class="oc-menu__link  js-dropdown js-trigger-dropdown"><span>{{ item.text }}</span></a>
                <ul class="m-dropdown">
                    {% if item.text == 'Retail' %}
                        <li class="m-dropdown__item"><a href="{{ item.href }}" class="m-dropdown__link">All Retail</a></li>
                    {% endif %}
                    {% sub_menu item template="menus/mobile_sub_items.html" %}
                </ul>

            </li>
        {% endif %}
    {% endfor %}
</ul>


<div data-target="id-show-block-1" class=".js-show_more">

</div>


<div id="id-show-block-1" style="display: none">

</div>