<footer class="section _small footer">
    <div class="grid-container">
        <div class="grid-x footer__row">
            <div class="cell shrink footer__logo"><img data-src="{{ site.app.url }}img/footer_logo.png" class="lozad" alt=""></div>

            <div class="cell auto footer__info">
                <div class="grid-container">
                    <div class="grid-x align-middle">
                        <div class="cell medium-shrink">
                            <div class="footer-socials">
                                <h3 class="footer__title">See our work on:</h3>

                                <ul class="socials">
                                    <li class="socials__item">
                                        <a href="#" class="socials__link _fb" target="_blank">{% include mixins/svg-ico.html ico="facebook-f" class="socials__ico" %}</a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="#" class="socials__link _inst" target="_blank">{% include mixins/svg-ico.html ico="instagram-filled" class="socials__ico" %}</a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="#" class="socials__link _tw" target="_blank">{% include mixins/svg-ico.html ico="twitter-filled" class="socials__ico" %}</a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="#" class="socials__link _pint" target="_blank">{% include mixins/svg-ico.html ico="pinterest" class="socials__ico" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="cell medium-auto">
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a href="{{ site.app.url }}" class="footer-menu__link">Home</a></li>
                                <li class="footer-menu__item"><a href="{{ site.app.url }}" class="footer-menu__link">Blog</a></li>
                                <li class="footer-menu__item"><a href="{{ site.app.url }}" class="footer-menu__link">Privacy policy</a></li>
                                <li class="footer-menu__item"><a href="{{ site.app.url }}" class="footer-menu__link">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="footer__title">Areas we service:</h3>
                    <p>Toronto, Brampton, Scarborough, Etobicoke, Oshawa, Vaughan, Hamilton, Guelph, Kitchener/Waterloo, Oakville.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container footer__btm">
        <div class="grid-x grid-padding-x">
            <div class="cell large-6 medium-8 small-12">
                <p>Copyright © 2018 - <a href="#" target="_blank">Black Line Studio - #1 Ranked Tattoo & Piercing Shop Toronto</a></p>
            </div>

            <div class="cell large-6 medium-4 small-12 medium-text-right marketing">
                <p>Designed and developed by <a href="https://onecoremedia.com/" target="_blank"><img src="" data-src="{{ site.app.url }}img/onecore_logo.png" class="lozad" alt=""><span>OneCore Media</span></a>,
                    SEO by <a href="#" target="_blank">SeoLogist</a></p>
            </div>
        </div>
    </div>
</footer>