<form action="">
    <div class="pf-form form js-anchor-section" id="form">
        <h2 class="pf-form__title">Book A Free Consultation Now!</h2>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-6 pf-form__col">
                    <div class="form-section">
                        <div class="form-section__placeholder"><span>your name:</span></div>
                        <input type="text" class="form-section__field error" placeholder="your name:">
                    </div>
                </div>

                <div class="cell large-6 pf-form__col">
                    <div class="form-section">
                        <div class="form-section__placeholder"><span>your name:</span></div>
                        <input type="email" class="form-section__field" placeholder="your email:">
                    </div>
                </div>

                <div class="cell large-6 pf-form__col">
                    <div class="form-section">
                        <div class="form-section__placeholder"><span>your name:</span></div>
                        <input type="tel" class="form-section__field" placeholder="phone:">
                    </div>
                </div>

                <div class="cell large-6 pf-form__col">
                    <div class="form-section">
                        <div class="form-section__placeholder"><span>location:</span></div>
                        <select name="" id="" class="form-section__select error">
                            <option value="" hidden>location:</option>
                            <option value="">Value 1</option>
                            <option value="">Value 2</option>
                            <option value="">Value 3</option>
                        </select>
                    </div>
                </div>

                <div class="cell large-12 pf-form__col">
                    <div class="form-section">
                        <div class="form-section__placeholder"><span>What are you interested in?</span></div>
                        <textarea name="" class="form-section__field form-section__field_comment" placeholder="What are you interested in?"></textarea>
                    </div>
                </div>

                <div class="cell large-12 pf-form__col">
                    <div class="form-ft">
                        <div class="form-ft__l">
                            <div class="g-recaptcha pf-form__recaptcha" data-sitekey="6Lf8AXsUAAAAAJkAUb0ENPtPLfcF8peMzT4YqgzL" data-theme="dark"></div>
                        </div>
                        <div class="form-ft__r">
                            <button class="btn btn_bordered form-section__btn">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

