<div class="contacts lozad accordion accordion_mobile" data-background-image="{{ site.app.url }}img/bg/heart.png">
    <div class="contacts__container accordion__container open">
        <h2 class="contacts__title accordion__title js-accordion-title">Downtown</h2>

        <div class="accordion__body">
            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="placeholder" class="contacts__ico" %}
                <div class="contacts__text spoiler-container">
                    <p>573 King St. West - Second Floor,
                        Toronto, Ontario, M5V 1M1</p>

                    <div class="spoiler-mobile hidden js-spoiler">
                        <p><i>Just east of King and Portland street.
                            Second floor of 573 King West above
                            Big Smoke Burger! Nulife entrance</i></p>
                    </div>

                    <button class="spoiler-btn contacts__link">More details</button>
                </div>
            </div>

            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="envelope" class="contacts__ico" %}
                <div class="contacts__text"><a href="mailto:" class="contacts__link">Email Us</a></div>
            </div>

            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="phone-call" class="contacts__ico" %}
                <div class="contacts__text"><a href="tel:416-850-8227" class="contacts__link">416-850-8227</a></div>
            </div>

            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="clock" class="contacts__ico" %}

                <div class="contacts__text">
                    <div class="work-time">
                        <div class="work-time__row">
                            <span class="work-time__title">Mon - Wed: </span>
                            <span class="work-time__text">11AM - 8PM</span>
                        </div>

                        <div class="work-time__row">
                            <span class="work-time__title">Thur - Sat: </span>
                            <span class="work-time__text">11AM - 10PM</span>
                        </div>

                        <div class="work-time__row">
                            <span class="work-time__title">Sunday: </span>
                            <span class="work-time__text">12PM - 5PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts__container accordion__container">
        <h2 class="contacts__title accordion__title js-accordion-title">Up Town</h2>

        <div class="accordion__body">
            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="placeholder" class="contacts__ico" %}
                <div class="contacts__text spoiler-container">
                    <p>41 Clock Tower Rd, North York,
                        Toronto, Ontario, M3C 0G4</p>
                    <div class="spoiler-mobile hidden js-spoiler">
                        <p><i>Intersection of Clock Tower Road and Karl Fraser Rd, next to Donato Hair Salon.</i></p>
                    </div>

                    <button class="spoiler-btn contacts__link">More details</button>
                </div>
            </div>

            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="envelope" class="contacts__ico" %}
                <div class="contacts__text"><a href="mailto:" class="contacts__link">Email Us</a></div>
            </div>

            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="phone-call" class="contacts__ico" %}
                <div class="contacts__text"><a href="tel:647-347-9977" class="contacts__link">647-347-9977</a></div>
            </div>

            <div class="contacts__section">
                {% include mixins/svg-ico.html ico="clock" class="contacts__ico" %}

                <div class="contacts__text">
                    <div class="work-time">
                        <div class="work-time__row">
                            <span class="work-time__title">Mon - Thur: </span>
                            <span class="work-time__text">11AM - 8PM</span>
                        </div>

                        <div class="work-time__row">
                            <span class="work-time__title">Fri - Sat: </span>
                            <span class="work-time__text">11AM - 9PM</span>
                        </div>

                        <div class="work-time__row">
                            <span class="work-time__title">Sunday: </span>
                            <span class="work-time__text">11AM - 7PM</span>
                        </div>

                        <!--<div class="work-time__row">-->
                        <!--<span class="work-time__title">Sunday: </span>-->
                        <!--<span class="work-time__text">12PM - 7PM</span>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>