.recent-post {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: rem-calc(16);

  &__image {
    flex: 0 0 auto;
    width: auto;
  }

  &__container {
    flex: 1 1 0;
    width: auto;
    padding-left: rem-calc(16);
  }

  &__title {
    margin-bottom: rem-calc(5);
    color: $white;
    font-size: rem-calc(16);
    font-weight: 700;
    line-height: 1.2;
    a {
      color: $white;
    }
  }

  &__date {
    display: block;
    color: map-get($custom-palette, yellow);
    font-size: rem-calc(12);
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }
}