.pf-form {
  padding-top: map-get($section-gutters, medium);
  padding-left: 0;

  @include breakpoint(medium up) {
    padding-top: 0;
    padding-left: map-get($section-gutters, small);
  }

  @include breakpoint(large up) {
    padding-top: 0;
    padding-left: rem-calc(63);
  }

  &__title {
    padding-left: 0;
    color: $white;
    font-size: map-get($section-title-sizes, medium);
    font-weight: 700;
    line-height: 1.3;
    text-align: center;

    @include breakpoint(medium up) {
      padding-left: map-get($grid-column-gutter, small);
      font-size: map-get($section-title-sizes, large);
    }

    @include breakpoint(large up) {
      margin-bottom: rem-calc(45);
      text-align: left;
    }
  }

  &__col {
    margin-bottom: rem-calc(30);

    @include breakpoint(large up) {
      margin-bottom: rem-calc(45);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__recaptcha {
    overflow: hidden;

    >div {
      width: 100% !important;
    }
  }
}

.form-ft {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: rem-calc(12);

  &__l {
    flex: 0 0 auto;
    margin-bottom: rem-calc(5);
    padding-right: rem-calc(10);
  }

  &__r {
    flex: 1 1 0px;
    margin-bottom: rem-calc(5);

    .btn {
      margin-bottom: 0;
      padding: rem-calc(28) map-get($btn-gutters, large);
    }
  }
}




