<header class="header" id="header">
    <div class="header__container">
        <div class="header__row">
            <div class="header__col header__logo">
                <a href="{{ site.app.url }}"><img src="{{ site.app.url }}img/logo.png" alt=""></a>
            </div>

            <nav class="header__col header__nav">
                {% include nav/h-menu.html %}
            </nav>

            <div class="header__col header__phone">
                <div class="phone">
                    <a href="tel:{{ site.phone }}" class="phone__body">
                        {% include mixins/svg-ico.html ico="phone-filled" class="phone__ico" %}
                        <span class="phone__title">Call Us11:</span>
                        <span class="phone__content">{{ site.phone }}</span>
                    </a>
                </div>
            </div>

            <div class="header__col header__mobile-nav">
                <button class="btn hamburger off-canvas-open">
                    {% include mixins/svg-ico.html ico="menu-button" class="hamburger__ico" %}
                </button>
            </div>
        </div>
    </div>
</header>