<div class="inner-banner lozad" data-background-image="{{ site.app.url }}img/banners/inner_banner.jpg">
    <div class="inner-banner__container">
        <div class="inner-banner__cell inner-banner__cell_l">
            <h1 class="inner-h-title">{% if page.top-title %}{{ page.top-title }}{% endif %}</h1>
        </div>

        <div class="inner-banner__cell inner-banner__cell_r">
            <a href="#pre-footer" class="btn btn_medium btn_dark btn_bordered">Book a consultation</a>
        </div>
    </div>
</div>




