---
layout: base_inner
meta:
    title: ""
    description: ""
menu:
    id: "blog"

top-title: 'Blog'
---

<div class="section bg-pattern _dark">

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-8 medium-7">
                <div class="blog-previous">
                    <div class="blog-previous__image">
                        <a href="blog-post.html"><img src="" data-src="{{ site.app.url }}img/blog/blog_prev_img.jpg" class="lozad grayscale" alt=""></a>
                    </div>

                    <div class="blog-previous__body">
                        <h2 class="blog-previous__title"><a href="blog-post.html">7 Questions to Ask Before Undergoing Laser Tattoo Removal</a></h2>

                        <div class="blog-actions">
                            <span>Posted admin in:</span>
                            <span class="action-icon">
                                {% include mixins/svg-ico.html ico="calendar" class="action-icon__ico" %}
                                <a href="#">TATTOOS</a>
                            </span>
                            <span>on</span>
                            <time class="action-icon">
                                {% include mixins/svg-ico.html ico="price-tag" class="action-icon__ico" %}
                                JANUARY 30, 2018
                            </time>
                        </div>

                        <div class="wysiwyg">
                            <p>Are you considering undergoing laser tattoo removal, but not sure what you’re getting into? Read
                                on to learn 7 questions you should ask beforehand. Tattoos are a beautiful way to express your personality and what’s
                                important to you. There is no one-size-fits-all when it comes to telling everyone your story through body art.</p>
                        </div>
                    </div>
                </div>

                <div class="blog-previous">
                    <div class="blog-previous__image">
                        <a href="blog-post.html"><img src="" data-src="{{ site.app.url }}img/blog/blog_prev_img.jpg" class="lozad grayscale" alt=""></a>
                    </div>

                    <div class="blog-previous__body">
                        <h2 class="blog-previous__title"><a href="blog-post.html">7 Questions to Ask Before Undergoing Laser Tattoo Removal</a></h2>

                        <div class="blog-actions">
                            <span>Posted admin in:</span>
                            <span class="action-icon">
                                {% include mixins/svg-ico.html ico="calendar" class="action-icon__ico" %}
                                TATTOOS
                            </span>
                            <span>on</span>
                            <time class="action-icon">
                                {% include mixins/svg-ico.html ico="price-tag" class="action-icon__ico" %}
                                JANUARY 30, 2018
                            </time>
                        </div>

                        <div class="wysiwyg">
                            <p>Are you considering undergoing laser tattoo removal, but not sure what you’re getting into? Read
                                on to learn 7 questions you should ask beforehand. Tattoos are a beautiful way to express your personality and what’s
                                important to you. There is no one-size-fits-all when it comes to telling everyone your story through body art.</p>
                        </div>
                    </div>
                </div>

                <div class="blog-previous">
                    <div class="blog-previous__image">
                        <a href="blog-post.html"><img src="" data-src="{{ site.app.url }}img/blog/blog_prev_img.jpg" class="lozad grayscale" alt=""></a>
                    </div>

                    <div class="blog-previous__body">
                        <h2 class="blog-previous__title"><a href="blog-post.html">7 Questions to Ask Before Undergoing Laser Tattoo Removal</a></h2>

                        <div class="blog-actions">
                            <span>Posted admin in:</span>
                            <span class="action-icon">
                                {% include mixins/svg-ico.html ico="calendar" class="action-icon__ico" %}
                                TATTOOS
                            </span>
                            <span>on</span>
                            <time class="action-icon">
                                {% include mixins/svg-ico.html ico="price-tag" class="action-icon__ico" %}
                                JANUARY 30, 2018
                            </time>
                        </div>

                        <div class="wysiwyg">
                            <p>Are you considering undergoing laser tattoo removal, but not sure what you’re getting into? Read
                                on to learn 7 questions you should ask beforehand. Tattoos are a beautiful way to express your personality and what’s
                                important to you. There is no one-size-fits-all when it comes to telling everyone your story through body art.</p>
                        </div>
                    </div>
                </div>

                <nav aria-label="Pagination">
                    <ul class="pagination articles-pagination text-center">
                        <li class="pagination-previous disabled"></li>
                        <li class="current">1</li>
                        <li><a href="#" aria-label="Page 2">2</a></li>
                        <li><a href="#" aria-label="Page 3">3</a></li>
                        <li><a href="#" aria-label="Page 4">4</a></li>
                        <li class="ellipsis" aria-hidden="true"></li>
                        <li class="pagination-next"><a href="#" aria-label="Next page"></a></li>
                    </ul>
                </nav>
            </div>

            <aside class="cell large-4 medium-5">{% include blog/blog-sidebar.html %}</aside>
        </div>
    </div>
</div>



