---
layout: base_inner
meta:
    title: ""
    description: ""
menu:
    id: "services"

top-title: 'Spectra Laser Carbon Peel'
pre-footer: true
---

<section class="section bg-pattern _bg-center-left-4 _dark lozad" data-background-image="{{ site.app.url }}img/bg/octopus_bg.png">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-justify align-middle">
            <div class="cell medium-6 text-white wysiwyg">
                <h2>Black Line Studio is pleased to offer the Spectra™ Carbon Peel in Toronto!</h2>

                <p>Often referred to as the “Hollywood facial,” the Spectra™ carbon facial peel
                    is a revolutionary laser treatment which delivers the benefits of aggressive skin rejuvenation procedures instantly, without the discomfort or downtime typically associated with such treatments. The Spectra™ carbon facial peel allows you to save time and money while still reaping the same results.</p>

                <p>The Spectra™ carbon peel is an essential part of many A-list celebrities’ beauty regimes and is presently one of the most coveted treatments in Hollywood, which is now available in Toronto. The peel rejuvenates and stimulates dull or damaged skin, instantly revealing a more youthful and glowing complexion. Customized treatment plans for the face and body may advise a single session for a quick pre-event glow, or on-going treatments for anti-aging and repair of skin conditions including acne
                    scars, enlarged pores, pigmentation and fine lines.</p>
            </div>

            <div class="cell medium-6 text-center">
                <div class="image-bordered"><img src="" data-src="{{ site.app.url }}img/catalogue/special_laser_carbon_peel.jpg" class="lozad" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-pattern _dark-800">
    <h2 class="section__title">Carbon Peel Procedure</h2>

    <div class="section__btm-indent-3">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-12 wysiwyg text-center text-white">
                    <p>During your Spectra™ carbon peel treatment, a layer of liquid carbon is applied to the area of skin requiring treatment. The laser light is then passed over the area, causing the carbon to vaporize and remove dead skin cells, contaminants, and oil. Those with oily skin, blackheads, enlarged pores, dull skin, and acne on the face or body instantly benefit from a refreshed appearance. Clients see softer, smoother, and firmer skin almost instantly.</p>
                    <div class=""><img src="" data-src="{{ site.app.url }}img/catalogue/carbon_peel_procedure.jpg" class="lozad" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__btm-indent-3">
        <h2 class="section__title">Overview of Benefits</h2>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% for item in site.data.services.benefits-overview %}
                <div class="cell medium-6 margin-bottom-2">
                    <div class="benefits-overview">
                        <div class="benefits-overview__icon">
                            <span class="benefits-overview__ico"><img src="" data-src="{{ site.app.url }}img/icons/{{ item.icon }}" class="lozad" alt=""></span>
                        </div>

                        <div class="benefits-overview__body">
                            <h3 class="benefits-overview__title">{{ item.title }}</h3>
                            <p>{{ item.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="grid-container wysiwyg text-white">
        <h2>Black Line Studio’s Services</h2>

        <p>As with all services offered at Black Line Studio, we will recommend pre, post, and ongoing skin care to accompany the Spectra™ carbon peel to achieve optimal results. We welcome you to book a free consultation where one of our laser professionals will be able to customize a treatment plan for you.</p>
    </div>

</section>

<div class="section bg-pattern _bg-center-bottom _dark lozad" data-background-image="{{ site.app.url }}img/bg/background4.png">
    <h2 class="section__title">Frequently Asked Questions</h2>

    <div class="grid-container">
        <div class="main-accordion">
            <div class="main-accordion__section active">
                <button class="main-accordion__title js-ma-title">What does the Spectra™ carbon peel feel like?</button>

                <div class="main-accordion__container">
                    <p>Most clients refer to the feeling as a warm, tingling, or prickly sensation. There is no pain associated with the procedure and topical anesthetic is not required.</p>
                </div>
            </div>

            <div class="main-accordion__section">
                <button class="main-accordion__title js-ma-title">Can the Spectra™ carbon peel help me?</button>

                <div class="main-accordion__container">
                    <p>The treatment is safe and gentle and able to be performed on just about any skin type. It is suitable for men and women of all ages. </p>
                </div>
            </div>

            <div class="main-accordion__section">
                <button class="main-accordion__title js-ma-title">How much downtime is required after a procedure?</button>

                <div class="main-accordion__container">
                    <p>None. The treatment is exceptionally gentle and requires no downtime following a procedure. This means that clients can return to their daily activities directly after a session, making scheduling easy and convenient. The procedure is non-invasive and non-surgical. Clients are recommended to wear a 30 SPF sunblock for any outdoor activities following the procedure, but otherwise have no restrictions. </p>
                </div>
            </div>

            <div class="main-accordion__section">
                <button class="main-accordion__title js-ma-title">Do I need to do anything prior to treatment?</button>

                <div class="main-accordion__container">
                    <p>When you arrive at the studio for your treatment, you will need to remove any makeup, lotions, and other products that have been applied.</p>
                </div>
            </div>

            <div class="main-accordion__section">
                <button class="main-accordion__title js-ma-title">Will I only need one treatment?</button>

                <div class="main-accordion__container">
                    <p>As the Spectra™ Hollywood carbon peel is a gentle procedure, it can require several treatment sessions to achieve the desired results. However, you will notice some immediate changes in the appearance of your skin. Each person’s skin is unique and requires an individual treatment plan. This treatment plan will be devised during your initial consultation with your treatment provider. </p>
                </div>
            </div>

            <div class="main-accordion__section">
                <button class="main-accordion__title js-ma-title">Are employees specifically trained?</button>

                <div class="main-accordion__container">
                    <p>Yes! We have a select number of employees who attended specific training programs to operate our Spectra™ laser and formulate specific treatment plans for each client. </p>
                </div>
            </div>

            <div class="main-accordion__section">
                <button class="main-accordion__title js-ma-title">Are there any side effects from the treatment?</button>

                <div class="main-accordion__container">
                    <p>With the Spectra™ carbon peel, side effects are minimal, especially in comparison with other similar treatments and/or procedures. The skin may appear red following treatment, but this will subside within a few hours. Clients following the recommended aftercare will see improved results—this includes minimizing sun exposure, refraining from smoking, and reducing stress following the treatment periods.</p>

                    <p>In very rare cases, some clients have experienced itching and swelling, scabbing, and some minor bruising for a short period of time. Other rare side effects include temporary hypo- or hyperpigmentation.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include gallery.html gallery-title="Our Latest Instagram Posts" %}


