---
layout: base
meta:
    title: ""
    description: ""
menu:
    id: "home"
pre-footer: true
---

<div class="main-head">
    <div class="top-group">
        <div class="top-group__container">
            <div class="top-group__image"><img src="" data-src="{{ site.app.url }}img/logo_large.png" width="223" height="224" alt="" class="lozad"></div>

            <div class="top-group__title">
                <div class="head-titles">
                    <div class="head-titles__title _middle">Toronto’s</div>
                    <div class="head-titles__title _large">Only Body Art Boutique</div>
                    <div class="head-titles__title _small text-white">#1 Ranked Tattoo Shop</div>
                </div>
            </div>

            <div class="top-group__buttons">
                <div class="button-group">
                    <a href="#" class="btn btn_bordered"><span>Downtown</span></a>
                    <a href="#" class="btn btn_bordered"><span>Uptown</span></a>
                    <a href="#pre-footer" class="btn btn_full btn_large">Book a free consultation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-slider-wrapper">
        <div class="main-slider">
            <div class="main-slider__slide" style="background-image: url({{ site.app.url }}img/slides/m_slide1.jpg);"></div>
            <div class="main-slider__slide" style="background-image: url({{ site.app.url }}img/slides/m_slide1.jpg);"></div>
        </div>
    </div>
</div>

<section class="section bg-pattern _bg-center _dark lozad js-second" data-background-image="{{ site.app.url }}img/bg/dragon.png">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6 text-center medium-text-left">
                <h2 class="section__title _left no-x-gutter">Unique Body Art Boutique in Toronto</h2>

                <div class="wysiwyg text-white spoiler-container spoiler-container_top spoiler-container_for-mobile">
                    <p>Established in 2006, Black Line Studio is an innovative concept which incorporates the essentials of the art world
                        through the combination of an upscale tattoo shop, body piercing and laser treatment boutique with the
                        most exclusive selection of art, jewelry, and after-care revitalizers. <a class="spoiler-open js-spoiler-open">Read more</a></p>

                    <div class="spoiler-mobile spoiler-mobile_hidden js-spoiler">
                        <ul>
                            <li>Offering an exclusive collection of art for exhibit and acquire, Black Line Studio showcases its’
                                resident artist team’s full range of artistic talent
                                and features several other Canadian Artists. Fashion jewelry carried at
                                the boutique consists of carefully selected lines which enable customers
                                to express their individual style with unique pieces.</li>

                            <li>Black Line Studio’s downtown location is set in one of the most vibrant and eclectic neighbourhoods in the
                                city situated in the heart of King Street West, while the uptown location is in Canada’s most prestigious outdoor
                                mall – Shops at Don Mills.</li>

                            <li>Black Line Studio’s wide range of clientele varies from Toronto residents and globetrotters to A-List celebrities.
                                All are welcome to express themselves at Black Line Studio!</li>
                        </ul>
                        <p><a class="spoiler-close js-spoiler-close">Minimize</a></p>
                    </div>
                </div>
            </div>

            <div class="cell medium-6">
                <div class="art-slider-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper art-slider">
                            <div class="art-slider__slide swiper-slide">
                                <div class="art-slider__ib inline-hover grayscale-wr">
                                    <picture>
                                        <img src="" data-src="{{ site.app.url }}img/slides/art_slide1_288x534.jpg" width="288" height="534" class="grayscale swiper-lazy" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="art-slider__slide swiper-slide">
                                <div class="art-slider__ib inline-hover grayscale-wr">
                                    <picture>
                                        <img src="" data-src="{{ site.app.url }}img/slides/art_slide2_288x534.jpg" width="288" height="534" class="grayscale swiper-lazy" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="art-slider__slide swiper-slide">
                                <div class="art-slider__ib inline-hover grayscale-wr">
                                    <picture>
                                        <img src="" data-src="{{ site.app.url }}img/slides/art_slide1_288x534.jpg" width="288" height="534" class="grayscale swiper-lazy" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="art-slider__slide swiper-slide">
                                <div class="art-slider__ib inline-hover grayscale-wr">
                                    <picture>
                                        <img src="" data-src="{{ site.app.url }}img/slides/art_slide2_288x534.jpg" width="288" height="534" class="grayscale swiper-lazy" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="art-slider__slide swiper-slide">
                                <div class="art-slider__ib inline-hover grayscale-wr">
                                    <picture>
                                        <img src="" data-src="{{ site.app.url }}img/slides/art_slide1_288x534.jpg" width="288" height="534" class="grayscale swiper-lazy" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="art-slider__slide swiper-slide">
                                <div class="art-slider__ib inline-hover grayscale-wr">
                                    <picture>
                                        <img src="" data-src="{{ site.app.url }}img/slides/art_slide2_288x534.jpg" width="288" height="534" class="grayscale swiper-lazy" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="ct-logos">
                    <div class="ct-logos__titles">
                        <p class="ct-title"><strong>Black Line Studio's</strong></p>
                        <p class="ct-title"><strong>Cares and Sponsors</strong></p>
                    </div>
                    <div class="ct-logos__img"><img src="" data-src="{{ site.app.url }}img/motionball.png" class="lozad" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="gallery-wrapper">
    <div class="slide-btn">
        <div class="gallery">
            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img1.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img1.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img2.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img2.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img3.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img3.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img4.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img4.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img5.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img5.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img6.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img6.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img7.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img7.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>

            <div class="gallery__slide grayscale-wr">
                <a href="{{ site.app.url }}img/gallery/gallery_img8.jpg" class="zoom-hover glightbox">
                    <img src="" data-src="{{ site.app.url }}img/gallery/gallery_img8.jpg" alt="" width="180" height="180" class="grayscale tns-lazy-img">
                    {% include mixins/svg-ico.html ico="zoom-in" class="zoom-hover__ico" %}
                </a>
            </div>
        </div>
    </div>
</div>

<section class="section h-services _medium bg-pattern _bg-center-bottom-9 _dark-800 lozad" data-background-image="{{ site.app.url }}img/bg/background_11.png">
    <h2 class="section__title _gold _full">Our Services</h2>

    <div class="slide-btn">
        <div class="services-carousel js-icons-animate">
            {% for services_item in site.data.services.services %}
                <div class="services-carousel__slide js-max-height">
                    <div class="services-section one-line-hover">
                        <div class="services-section__icon icon-section _services">
                            {% assign filename = 'svg-icons/' | append: services_item.svg | append: '.html'  %}
                            {% include {{ filename }} %}
                            <!--<img src="" data-src="{{ site.app.url }}img/icons/{{ services_item.icon }}" alt="" class="lozad">-->
                        </div>

                        <div class="services-section__body text-white">
                            <div class="services-section__title">{{ services_item.title }}</div>
                            <p>{{ services_item.content }}</p>
                        </div>

                        <div class="services-section__footer">
                            <a href="{{ services_item.btn_link }}" class="btn btn_bordered">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="mobile-pos">
    <div class="section progress lozad js-progress" data-background-image="{{ site.app.url }}img/bg/progress.jpg">
        <div class="grid-container">
            <div class="progress-carousel-wrapper slide-btn">
                <div class="progress-carousel">
                    <div class="progress-carousel__slide">
                        <div class="progress__icon icon-section _triangle">
                            <img src="" data-src="{{ site.app.url }}img/icons/happy_clients_icon.png" width="100" height="100" class="lozad" alt="">
                        </div>
                        <div class="progress__value js-counter-animate" data-end="54244">0</div>
                        <div class="progress__title">HAPPY CLIENTS</div>
                    </div>

                    <div class="progress-carousel__slide">
                        <div class="progress__icon icon-section _triangle">
                            <img src="" data-src="{{ site.app.url }}img/icons/years_in_business_icon.png" width="100" height="100" class="lozad" alt="">
                        </div>
                        <div class="progress__value js-counter-animate" data-end="12">0</div>
                        <div class="progress__title">YEARS IN BUSINESS</div>
                    </div>

                    <div class="progress-carousel__slide">
                        <div class="progress__icon icon-section _triangle">
                            <img src="" data-src="{{ site.app.url }}img/icons/body_piercings_icon.png" width="100" height="100" class="lozad" alt="">
                        </div>
                        <div class="progress__value js-counter-animate" data-end="46721">0</div>
                        <div class="progress__title">BODY PIERCINGS</div>
                    </div>

                    <div class="progress-carousel__slide">
                        <div class="progress__icon icon-section _triangle">
                            <img src="" data-src="{{ site.app.url }}img/icons/tattoos_icon.png" width="100" height="100" class="lozad" alt="">
                        </div>
                        <div class="progress__value js-counter-animate" data-end="51108">0</div>
                        <div class="progress__title">TATTOOS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section h-actions bg-pattern _bg-center substrate _yellow lozad" data-background-image="{{ site.app.url }}img/bg/h_actions.jpg">
        <h2 class="section__title _white-ico index-1">Let Us Bring Your Vision to Life!</h2>

        <div class="grid-container index-1 text-center">
            <button class="btn btn_icon btn_dark h-actions__btn jsScrollTo">
                {% include mixins/svg-ico.html ico="speech-bubble" class="btn__ico" %}
                <span>Book a free consultation</span>
            </button>

            <a href="tel:{{ site.phone }}" class="btn btn_icon btn_dark h-actions__btn">
                {% include mixins/svg-ico.html ico="phone" class="btn__ico" %}
                <span>Speak with an artist: <span class="h-actions__phone">{{ site.phone }}</span></span>
            </a>
        </div>
    </section>

    <section class="section team bg-pattern _bg-center _dark lozad" data-background-image="{{ site.app.url }}img/bg/flower_bg.png">
        <h2 class="section__title">Featured Artists</h2>

        <div class="slide-btn">
            <div class="grid-container">
                <div class="team-carousel js-artists">
                    <div class="team-carousel__slide grayscale-wr">
                        <div class="team-carousel__container inline-hover">
                            <div class="team-carousel__image">
                                <img src="" data-src="{{ site.app.url }}img/artists/team_lorena.jpg" width="353" height="400" class="grayscale tns-lazy-img" alt="">
                            </div>

                            <div class="team-carousel__body">
                                <div class="team-carousel__name">LORENA</div>
                                <div class="team-carousel__profession">tattoo master</div>
                            </div>
                        </div>
                    </div>

                    <div class="team-carousel__slide grayscale-wr">
                        <div class="team-carousel__container inline-hover">
                            <div class="team-carousel__image">
                                <img src="" data-src="{{ site.app.url }}img/artists/team_federica.jpg" width="353" height="400" class="grayscale tns-lazy-img" alt="">
                            </div>

                            <div class="team-carousel__body">
                                <div class="team-carousel__name">FEDERICA</div>
                                <div class="team-carousel__profession">tattoo master</div>
                            </div>
                        </div>
                    </div>

                    <div class="team-carousel__slide grayscale-wr">
                        <div class="team-carousel__container inline-hover">
                            <div class="team-carousel__image">
                                <img src="" data-src="{{ site.app.url }}img/artists/team_bill.jpg" width="353" height="400" class="grayscale tns-lazy-img" alt="">
                            </div>

                            <div class="team-carousel__body">
                                <div class="team-carousel__name">BILL</div>
                                <div class="team-carousel__profession">tattoo master</div>
                            </div>
                        </div>
                    </div>

                    <div class="team-carousel__slide grayscale-wr">
                        <div class="team-carousel__container inline-hover">
                            <div class="team-carousel__image">
                                <img src="" data-src="{{ site.app.url }}img/artists/team_lorena.jpg" width="353" height="400" class="grayscale lozad" alt="">
                            </div>

                            <div class="team-carousel__body">
                                <div class="team-carousel__name">LORENA</div>
                                <div class="team-carousel__profession">tattoo master</div>
                            </div>
                        </div>
                    </div>

                    <div class="team-carousel__slide grayscale-wr">
                        <div class="team-carousel__container inline-hover">
                            <div class="team-carousel__image">
                                <img src="" data-src="{{ site.app.url }}img/artists/team_federica.jpg" width="353" height="400" class="grayscale lozad" alt="">
                            </div>

                            <div class="team-carousel__body">
                                <div class="team-carousel__name">FEDERICA</div>
                                <div class="team-carousel__profession">tattoo master</div>
                            </div>
                        </div>
                    </div>

                    <div class="team-carousel__slide grayscale-wr">
                        <div class="team-carousel__container inline-hover">
                            <div class="team-carousel__image">
                                <img src="" data-src="{{ site.app.url }}img/artists/team_bill.jpg" width="353" height="400" class="grayscale lozad" alt="">
                            </div>

                            <div class="team-carousel__body">
                                <div class="team-carousel__name">BILL</div>
                                <div class="team-carousel__profession">tattoo master</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-container text-center">
            <a href="{{ site.app.url }}" class="btn btn_large btn_bordered">see all artists</a>
        </div>
    </section>
</div>

{% include instagram-gallery.html gallery-title="Our Latest Instagram Posts" %}

<section class="section testimonials-wrapper bg-pattern _bg-center lozad" data-background-image="{{ site.app.url }}img/bg/customers_bg.jpg">
    <div class="index-1">
        <h2 class="section__title">Customers Love Us</h2>

        <div class="slide-btn">
            <div class="grid-container">
                <div class="grid-x align-center">
                    <div class="cell medium-8 small-12">
                        <div class="testimonials">
                            <div class="testimonials__slide text-center">
                                <p>Had a phenomenal tattoo done here. The service was good and the tattoo artist truly cared.
                                    A really cool vibe in the place too- you feel like you're in a boutique business unlike mass
                                    tattoo producing places like Adrenaline or New Tribe. I would go back!</p>

                                <ul class="stars">
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                </ul>

                                <div class="testimonials__name">Lola A.</div>
                            </div>

                            <div class="testimonials__slide text-center">
                                <p>Had a phenomenal tattoo done here. The service was good and the tattoo artist truly cared.
                                    A really cool vibe in the place too- you feel like you're in a boutique business unlike mass
                                    tattoo producing places like Adrenaline or New Tribe. I would go back!</p>

                                <ul class="stars">
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                </ul>

                                <div class="testimonials__name">Lola A.</div>
                            </div>

                            <div class="testimonials__slide text-center">
                                <p>Had a phenomenal tattoo done here. The service was good and the tattoo artist truly cared.
                                    A really cool vibe in the place too- you feel like you're in a boutique business unlike mass
                                    tattoo producing places like Adrenaline or New Tribe. I would go back!</p>

                                <ul class="stars">
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                    <li class="stars__item">{% include mixins/svg-ico.html ico="christmas-star" class="stars__ico" %}</li>
                                </ul>

                                <div class="testimonials__name">Lola A.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

