---
layout: base_inner
meta:
    title: ""
    description: ""
menu:
    id: "services"

top-title: 'Services'
pre-footer: true
---

<div class="section _dark _dark-800 js-icons-animate">
    <div class="grid-container">
        <div class="grid-x grid-padding-x services-page">
            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/bird_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Custom Tattoos</div>
                        <p>When you’re looking for a high-quality tattoo and an enjoyable experience,
                            Black Line Studio is the place to go. Get your ink done by one of our professional artists and turn your body into a work of
                            art in the most sophisticated environment. Deciding on a design for your tattoo idea? Our custom tattoo artists are there
                            to make your ideas a reality.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="custom-tattoos.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/ear_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Body Piercing</div>
                        <p>The Spectra laser has a multitude
                            of uses from tattoo removal to reducing
                            the appearance of irregularities in the skin. Opportunely, it also helps to reduce the appearance
                            of acne and any acne-related scarring. Book a free consultation with
                            one of our professional laser technicians
                            to see what we can do for you.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="body-piercings.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/gun_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Tattoo Cover-Ups</div>
                        <p>Cover-ups are a fantastically creative
                            way to breathe new life into old tattoos.
                            Some people opt to simply remold an
                            old design into a more updated/better version of the piece, while others prefer
                            to completely block out any evidence
                            of the old tattoo. If the regret is
                            strong, people usually go with
                            the second option.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="tattoo-cover-ups.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/laser_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Tattoo Removal</div>
                        <p>Black Line Studio’s professional laser tattoo removal technicians offer the process of removing embedded ink from the layers
                            of skin using the highest quality laser. Lasers work by producing short pulses
                            of intense light that selectively target the tattoo pigment while minimizing damage
                            to the surrounding skin to leave you with the natural beautiful skin you started with.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="laser-tattoo-removal.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/airbrush_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Airbrushed tattoos</div>
                        <p>Generally lasting 3-5 days depending on location, activity and proper care, airbrushed tattoos are great
                            for testing a permanent tattoo design on your body while you prepare for the commitment. Being able to see yourself
                            with a tattoo before it actually happens will take away any fears or anxiety over the outcome and allow you step into the real tattoo.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="airbrushed-tattoos.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/body_art_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Body art</div>
                        <p>Black Line Studio uses Paasche water-based body art airbrush paints
                            to achieve any look. Just like temporary tattoos, the paint can last up to 5 days
                            if desired, however, the paint can also
                            be removed as soon as you like with exfoliation. Carbon Peel facial is a great way
                            to get a thorough clean and remove any excess paint on the face and in your pores.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="body-art.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/face_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Hollywood face peel</div>
                        <p>Often referred to as the “Hollywood facial,” the Spectra™ carbon facial peel is a revolutionary laser treatment
                            which delivers the benefits of aggressive skin rejuvenation procedures instantly, without the discomfort or downtime typically
                            associated with such treatments. The Spectra™ carbon facial peel allows you to save time and money while still reaping the same results.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="hollywood-face-peel.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/acne-removal.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">Acne scar removal</div>
                        <p>During a peel, a client will undergo several passes of the Spectra laser, which omits quick pulses of intense light.
                            These pulses of light target the melanin in the skin, breaking them up for the body’s natural processes to flush out.
                            During the process, the laser heats up the skin, causing
                            it to contract and stimulate the
                            production of collagen.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="acne-scar-removal.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="cell large-4 medium-6 services-page__col">
                <div class="services-section one-line-hover">
                    <div class="services-section__icon icon-section _services">
                        {% include svg-icons/reviv_icn.html %}
                    </div>

                    <div class="services-section__body text-white">
                        <div class="services-section__title">REVIV Vitamin Drip</div>
                        <p>REVIV is the leading global provider of IV infusion and vitamin booster shot wellness treatments.
                            We have over 40 locations across 4 continents ranging from London, Leeds, Lisbon, Ibiza, Abu Dhabi,
                            Johannesburg, Cape Town, Hong Kong,
                            LA, NYC, Miami Beach, Las Vegas,
                            Toronto and many more.</p>
                    </div>

                    <div class="services-section__footer">
                        <a href="reviv-vitamin-drip.html" class="btn btn_bordered">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


