---
layout: base_team
meta:
    title: ""
    description: ""
menu:
    id: "team"

top-title: 'Team Lorena'
pre-footer: true
---

<div class="contact-info bg-pattern lozad" data-background-image="{{ site.app.url }}img/bg/customers_bg.jpg">
    <div class="inner-banner inner-banner_team">
        <div class="inner-banner__container">
            <div class="inner-banner__cell inner-banner__cell_l">
                <h1 class="inner-h-title">{% if page.top-title %}{{ page.top-title }}{% endif %}</h1>
            </div>

            <div class="inner-banner__cell inner-banner__cell_r">
                <button class="btn btn_medium btn_dark btn_bordered jsScrollTo">Book an appointment</button>
            </div>
        </div>
    </div>

    <div class="grid-container index-1">
        <div class="grid-x grid-padding-x align-justify align-middle">
            <div class="cell medium-4 text-center">
                <div class="master inline-hover">
                    <div class="master__image">
                        <img src="{{ site.app.url }}img/artists/team_lorena.jpg" alt="">
                    </div>

                    <div class="master__body">
                        <div class="master__name">LORENA</div>
                        <div class="master__profession">tattoo master</div>
                    </div>
                </div>
            </div>

            <div class="cell medium-8 text-white wysiwyg">
                <h2>About Lorena:</h2>

                <p>Born during the Communist regime in Havana City, Cuba, Lorena found herself through the love for art. Since at a young age, Lorena liked to paint and draw. At the age of 19 she graduated from the Elemental Visual Art Institute in Jose Antonio with a diploma in Fine Arts. She worked at Main Experimental Graphics Studio in Havana for 1 year doing Printmaking and Woodcut Artwork.After moving to Toronto, Canada, Lorena kept up with her studies and graduated from OCAD and from The Toronto School of Art with yet another Fine Art Diplomas.</p>

                <p>In 2009 she got involved in the Tattoo Industry and since then she has collaborated/worked with many world wide renown different artists and Studios in Canada, Mexico, Cuba and other countries. She enjoys tattooing in many different styles including: black and gray, bold/old school traditional style, realism, watercolour and neotraditonal.</p>

                <p>Her style is distinctive, formal and characteristic to the different periods of her life, the countries that she has visited and all the fantastic artists that she had a pleasure to be working with.</p>
            </div>
        </div>
    </div>
</div>

{% include gallery.html gallery-title="Art Work Gallery" %}



