$tg-y-indent: rem-calc(15);

.top-group {
  padding-right: map-get($grid-column-gutter, small) / 2;
  padding-left: map-get($grid-column-gutter, small) / 2;

  @include breakpoint(medium up) {
    padding-right: map-get($grid-column-gutter, small);
    padding-left: map-get($grid-column-gutter, small);
  }

  &__image {
    margin-bottom: $tg-y-indent;

    img {
      @include breakpoint(mobile down) {
        max-width: 50%;
      }
    }
  }

  &__buttons {
    max-width: 285px;
    margin: auto;

    @include breakpoint(medium up) {
      max-width: 345px;
    }
  }
}